// Place all the styles related to the emailusuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#divFormEmail{
    margin: -5% auto 0 37%;
  width: 330px;
  box-shadow: 0px 0px 5px #666;
  border-radius:5px;
  height: 200px;
  padding-top:1%;
}

#btnGuardarEmail{
      font-size: 18px;
    color: #666;
    padding: 0px 10px 0px 10px;
    border: solid 2px #B2CAD8;
    background: #EAEAEA;
    font-weight:bold;
    cursor: pointer;
    height: 27px;
    text-decoration:none;
}

#btnGuardarEmail:hover{
    color: #08D;
    background: #E4E4E4;
    border: solid 3px #B2CAD8;
  }
  
.field{
  color: #666;
    font-size: 18px;
    margin-left: 17%;
}

.divBtnGuardarEmail{
  margin:0 auto 0 17%;
}
