// Place all the styles related to the productonegocios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabla1{
  margin: -8% auto 0 28%;
}

#tabla2{
  margin: 0% auto 0 5%;
}

#tabla3{
  margin: 0% auto 0 3%;
}

#MisNegocios{
   // margin: -43% auto 0 100%;
  width: 300px;
  background-color: #EAEAEA;
    padding: 1% 1% 1%;
      box-shadow: 0px 0px 5px #666;
  border-radius:5px;
  height: 370px;
}

#Sucursales{
  width: 300px;
  background-color: #EAEAEA;
    padding: 1% 1% 1%;
      box-shadow: 0px 0px 5px #666;
  border-radius:5px;
  height: 370px;
}

#btnEdita{
  font-size: 27px;
  color:#666;
   text-decoration:none;
   display:block;
}

#btnEdita:hover{
color:#08D;
}

#titulos{
  color: #666;  
}

#info
{
  color: #666; 
}

#valor{
  color: #4F7084;
  
}


img.basicoEditar{
  vertical-align:text-top;
  vertical-align:middle;
}

#btnBasico{
  text-align:center;
  margin-top:10%;
  // margin-left: 60%;
     display:block;
}

#divBtnVentas
{
margin-left: 75%;
margin-top: -8%;
}

